# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
startup.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
backend/.env
backend/.env.*

# typescript
*.tsbuildinfo

# local databases and backups
*.db
*.db-*
*.sqlite
*.sqlite-*
*.backup
backups/
backend/backups/

app-example

# generated native folders
/ios
/android

# Web build output
dist/
web-build/

# Webpack cache
.cache/

# Production build
build/
